div(class="container-fluid")
    ol(class="breadcrumb")
      li(class="breadcrumb-item")
        a(href="/") Inicio
      if(breadscrumb)
        li(class="breadcrumb-item active") 
          a(href="/#{breadscrumb.toLowerCase()}") #{breadscrumb}
      if(breadscrumb2)
        li(class="breadcrumb-item active") #{breadscrumb2}
    div(class="row")
      div(class="col-xl-3 col-sm-6 mb-3")
        div(class="card text-white bg-success o-hidden h-100")
          div(class="card-body")
            div(class="card-body-icon")
              i(class="fa fa-fw fa-twitter")
            div(class="mr-5") Tweets
          a(href="/tweets" class="card-footer text-white clearfix small z-1")
            span(class="float-left") View Details
            span(class="float-right")
              i(class="fa fa-angle-right")
      div(class="col-xl-3 col-sm-6 mb-3")
        div(class="card text-white bg-warning o-hidden h-100")
          div(class="card-body")
            div(class="card-body-icon")
              i(class="fa fa-fw fa-user-secret")
            div(class="mr-5") Congressistas!
          a(href="/congressistas" class="card-footer text-white clearfix small z-1")
            span(class="float-left") View Details
            span(class="float-right")
              i(class="fa fa-angle-right")
      div(class="col-xl-3 col-sm-6 mb-3")
        div(class="card text-white bg-danger o-hidden h-100")
          div(class="card-body")
            div(class="card-body-icon")
              i(class="fa fa-fw fa-signal")
            div(class="mr-5") Rank!
          a(href="/rank" class="card-footer text-white clearfix small z-1")
            span(class="float-left") View Details
            span(class="float-right")
      //-   //-       i(class="fa fa-angle-right")
      //- div(class="col-xl-3 col-sm-6 mb-3")
      //-   //- div(class="card text-white bg-danger o-hidden h-100")
      //-   //-   div(class="card-body")
      //-   //-     div(class="card-body-icon")
      //-   //-       i(class="fa fa-fw fa-support")
      //-   //-     div(class="mr-5") 13 New Tickets!
      //-   //-   a(href="#" class="card-footer text-white clearfix small z-1")
      //-   //-     span(class="float-left") View Details
      //-   //-     span(class="float-right")
      //-   //-       i(class="fa fa-angle-right")