div(class="card mb-3")
    div(class="card-header")
        i(class="fa fa-table")  Tweets
    div(class="card-body")
        div(class="table-responsive")
            table(class="table table-bordered" width="100%" id="dataTable" cellspacing="0")
                thead
                    tr
                        th Name
                        th Position
                        th Office
                        th Age
                        th Start date
                        th Salary
                tbody
                    tr
                        td Tiger Nixon
                        td System Architect
                        td Edinburgh
                        td 61
                        td 2011/04/25
                        td $320,800
                    tr
                        td Garrett Winters
                        td Accountant
                        td Tokyo
                        td 63
                        td 2011/07/25
                        td $170,750
                    tr
                        td Ashton Cox
                        td Junior Technical Author
                        td San Francisco
                        td 66
                        td 2009/01/12
                        td $86,000