extends ../layout

block content
    div(class="card mb-3")
        div(class="card-header")
            i(class="fa fa-table")  Congressistas
        div(class="card-body")
            div(class="table-responsive")
                table(class="table table-bordered" width="100%" id="dataTable" cellspacing="0")
                    thead
                        tr
                            th Id
                            th Nome
                            th Cadastro
                    tbody
                        each valor, i in lista
                            tr
                                td #{valor._id}
                                td #{valor.nome}
                                td #{valor.cadastro}